@{
    string currentUserName = "";
    string currentUserAvatarUrl = "";
    bool isAdmin = false;
    if (Session["User"] != null)
    {
        currentUserName = ((PhotosManager.Models.User)Session["User"]).FullName();
        currentUserAvatarUrl = ((PhotosManager.Models.User)Session["User"]).GetAvatarURL();
        if (Session["IsAdmin"] != null)
        {
            isAdmin = ((PhotosManager.Models.User)Session["User"]).Admin || (bool)Session["IsAdmin"];
        }
    }
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Photos Manager</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Gestionnaire de photos", "Index", "Photos", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">

                    <li>@Html.ActionLink("À propos", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    @if (currentUserName != "")
                    {
                        if (isAdmin)
                        {
                            <li>@Html.ActionLink("Usagers en ligne", "Index", "Admin")</li>
                        }
                        <li>
                            <div style="margin-top:5px;">
                                @Helper.Avatar(currentUserAvatarUrl, "")
                            </div>
                        </li>
                        <li>@Html.ActionLink(currentUserName, "ChangeProfil", "Users")</li>
                        <li>@Html.ActionLink("Déconnexion", "Logout", "Users")</li>
                    }
                    else
                    {
                        <li>@Html.ActionLink("Connexion", "Login", "Users")</li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Gestionnaire de photos</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
